<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>miraclepills.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F01444261E9206B6000FEB97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F014443D1E9206B6000FEB97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F01444481E9206B6000FEB97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
